Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

no-temporal-docs:
  name: No temporal documentation
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*) echo "Blocked temporal doc: $f"; exit 1;; esac; done'' --'
  language: system

no-root-test-scripts:
  name: No root-level test scripts
  entry: 'bash -c ''for f in "$@"; do case "$f" in test_*.py) echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done'' --'
  language: system

banned-patterns:
  name: Banned code patterns
  entry: bash .github/scripts/check-banned-patterns.sh
  language: system
  pass_filenames: false

no-env-files:
  name: No .env files
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done'' --'
  language: system

Improve Cypher query robustness in KG Agent (#103)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Improve Cypher query robustness in KG Agent (#103) (#104)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add query logging and monitoring to KG Agent (#105)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add query logging and monitoring to KG Agent (#105) (#106)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Update README to reflect current project state (#107)
  README.md
Due: no-temporal-docs

Update README to reflect current project state (#107) (#108)
  README.md
Due: no-temporal-docs

Add E2E outside-in tests for SPA with Playwright (#109)
  frontend/e2e/app-loads.spec.ts
  frontend/e2e/chat.spec.ts
  frontend/e2e/filters.spec.ts
  frontend/e2e/graph.spec.ts
  frontend/e2e/search.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: none

Add E2E outside-in tests for SPA with Playwright (#109) (#110)
  frontend/e2e/app-loads.spec.ts
  frontend/e2e/chat.spec.ts
  frontend/e2e/filters.spec.ts
  frontend/e2e/graph.spec.ts
  frontend/e2e/search.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: none

Wire up autocomplete suggestions in SearchBar (#111)
  frontend/e2e/search.spec.ts
  frontend/src/App.tsx
  frontend/src/components/Search/SearchBar.tsx
Due: none

Wire up autocomplete suggestions in SearchBar (#111) (#112)
  frontend/e2e/search.spec.ts
  frontend/src/App.tsx
  frontend/src/components/Search/SearchBar.tsx
Due: none

Expand E2E tests to 44 scenarios + fix _plan_cache bug (#113)
  backend/api/v1/chat.py
  frontend/e2e/chat.spec.ts
  frontend/e2e/filters.spec.ts
  frontend/e2e/graph.spec.ts
  frontend/e2e/search.spec.ts
  frontend/playwright.config.ts
Due: banned-patterns

Expand E2E tests to 44 scenarios + fix _plan_cache bug (#113) (#114)
  backend/api/v1/chat.py
  frontend/e2e/chat.spec.ts
  frontend/e2e/filters.spec.ts
  frontend/e2e/graph.spec.ts
  frontend/e2e/search.spec.ts
  frontend/playwright.config.ts
Due: banned-patterns

Complete E2E coverage: keyboard zoom, responsive, chat streaming, PWA (#115)
  frontend/e2e/chat-streaming.spec.ts
  frontend/e2e/graph-keyboard.spec.ts
  frontend/e2e/pwa.spec.ts
  frontend/e2e/responsive.spec.ts
  frontend/src/components/Graph/GraphCanvas.tsx
Due: none

Complete E2E coverage: keyboard zoom, responsive, chat streaming, PWA (#115) (#116)
  frontend/e2e/chat-streaming.spec.ts
  frontend/e2e/graph-keyboard.spec.ts
  frontend/e2e/pwa.spec.ts
  frontend/e2e/responsive.spec.ts
  frontend/src/components/Graph/GraphCanvas.tsx
Due: none

Ground KG Agent synthesizer in original article text (#118)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Ground KG Agent synthesizer in original article text (#118) (#122)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add domain-tuned extraction prompts (#120)
  bootstrap/src/extraction/llm_extractor.py
Due: banned-patterns

Add domain-tuned extraction prompts (#120) (#123)
  bootstrap/src/extraction/llm_extractor.py
Due: banned-patterns

Add pluggable ContentSource for web content (#121)
  bootstrap/src/sources/__init__.py
  bootstrap/src/sources/base.py
  bootstrap/src/sources/web.py
  bootstrap/src/sources/wikipedia_source.py
Due: banned-patterns

Add pluggable ContentSource for web content (#121) (#124)
  bootstrap/src/sources/__init__.py
  bootstrap/src/sources/base.py
  bootstrap/src/sources/web.py
  bootstrap/src/sources/wikipedia_source.py
Due: banned-patterns

Add Chunk node, vector index, and text chunker (#117)
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/embeddings/chunker.py
Due: banned-patterns

Add Chunk node, vector index, and text chunker (#117) (#125)
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/embeddings/chunker.py
Due: banned-patterns

Add hybrid retrieval to KG Agent: vector + graph + keyword (#119)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add hybrid retrieval to KG Agent: vector + graph + keyword (#119) (#126)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix critical and high audit findings (#127-#132)
  backend/api/v1/chat.py
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/embeddings/chunker.py
  bootstrap/src/extraction/llm_extractor.py
  bootstrap/src/sources/web.py
  bootstrap/src/sources/wikipedia_source.py
  frontend/src/App.tsx
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix CI failures: missing README, SearchBar test, chat test mock
  backend/tests/test_chat_api.py
  bootstrap/src/sources/README.md
  frontend/src/components/__tests__/SearchBar.test.tsx
Due: no-temporal-docs, banned-patterns

Fix chat API tests for CI: use temp DB, fix mock path
  backend/tests/test_chat_api.py
Due: banned-patterns

Fix critical and high audit findings (#134)
  backend/api/v1/chat.py
  backend/tests/test_chat_api.py
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/embeddings/chunker.py
  bootstrap/src/extraction/llm_extractor.py
  bootstrap/src/sources/README.md
  bootstrap/src/sources/web.py
  bootstrap/src/sources/wikipedia_source.py
  frontend/src/App.tsx
  frontend/src/components/__tests__/SearchBar.test.tsx
  wikigr/agent/kg_agent.py
Due: no-temporal-docs, banned-patterns

Fix remaining audit findings across all workstreams (#133)
  bootstrap/src/embeddings/chunker.py
  bootstrap/src/sources/web.py
  bootstrap/src/sources/wikipedia_source.py
  frontend/e2e/filters.spec.ts
  frontend/e2e/graph-keyboard.spec.ts
  frontend/e2e/graph.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/pwa.spec.ts
  frontend/e2e/search.spec.ts
  frontend/src/components/Search/SearchBar.tsx
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix remaining audit findings across all workstreams (#133) (#135)
  bootstrap/src/embeddings/chunker.py
  bootstrap/src/sources/web.py
  bootstrap/src/sources/wikipedia_source.py
  frontend/e2e/filters.spec.ts
  frontend/e2e/graph-keyboard.spec.ts
  frontend/e2e/graph.spec.ts
  frontend/e2e/helpers.ts
  frontend/e2e/pwa.spec.ts
  frontend/e2e/search.spec.ts
  frontend/src/components/Search/SearchBar.tsx
  wikigr/agent/kg_agent.py
Due: banned-patterns

Complete remaining scope: SSE lifecycle, chunker integration, web CLI (#129)
  backend/api/v1/chat.py
  bootstrap/src/expansion/processor.py
  wikigr/cli.py
Due: banned-patterns

Complete remaining scope: SSE lifecycle, chunker integration, web CLI (#129) (#136)
  backend/api/v1/chat.py
  bootstrap/src/expansion/processor.py
  wikigr/cli.py
Due: banned-patterns

Complete web source parity implementation (Issue #137)
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/expansion/processor.py
  bootstrap/tests/conftest.py
  bootstrap/tests/test_integration.py
  bootstrap/tests/test_queries.json
  docs/concepts/bfs-link-expansion.md
  docs/concepts/content-source-design.md
  docs/howto/configure-llm-extraction.md
  docs/howto/filter-link-crawling.md
  docs/index.md
  docs/reference/article-processor.md
  docs/reference/web-content-source.md
  docs/tutorials/web-sources-getting-started.md
  uv.lock
  wikigr/cli.py
Due: no-temporal-docs, banned-patterns

Fix critical security vulnerabilities
  SECURITY_FIXES.md
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/tests/test_processor_security.py
  bootstrap/src/sources/tests/__init__.py
  bootstrap/src/sources/tests/test_web_security.py
  bootstrap/src/sources/web.py
Due: no-temporal-docs, banned-patterns

Fix test to accept IPv6 localhost resolution
  bootstrap/src/sources/tests/test_web_security.py
Due: banned-patterns

Web Content Source: Complete Feature Parity with Wikipedia Pipeline (#138)
  SECURITY_FIXES.md
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/tests/test_processor_security.py
  bootstrap/src/sources/tests/__init__.py
  bootstrap/src/sources/tests/test_web_security.py
  bootstrap/src/sources/web.py
  bootstrap/tests/conftest.py
  bootstrap/tests/test_integration.py
  bootstrap/tests/test_queries.json
  docs/concepts/bfs-link-expansion.md
  docs/concepts/content-source-design.md
  docs/howto/configure-llm-extraction.md
  docs/howto/filter-link-crawling.md
  docs/index.md
  docs/reference/article-processor.md
  docs/reference/web-content-source.md
  docs/tutorials/web-sources-getting-started.md
  uv.lock
  wikigr/cli.py
Due: no-temporal-docs, banned-patterns

Implement Knowledge Packs (Phases 2,3,5)
  docs/CLI_PACK_COMMANDS.md
  docs/knowledge_packs/Phase5_CLI_Commands_Summary.md
  eval_relationships.py
  tests/agentic/test-amplifier-hooks.yaml
  tests/agentic/test-amplihack-hooks-installation.yaml
  tests/agentic/test-copilot-hooks.yaml
  tests/cli/test_pack_commands.py
  tests/packs/eval/__init__.py
  tests/packs/eval/test_baselines.py
  tests/packs/eval/test_eval_models.py
  tests/packs/eval/test_integration.py
  tests/packs/eval/test_metrics.py
  tests/packs/eval/test_questions.py
  tests/packs/eval/test_runner.py
  tests/packs/test_discovery.py
  tests/packs/test_models.py
  tests/packs/test_registry.py
  tests/packs/test_skill_template.py
  tests/test-amplihack-hooks-complete.sh
  topics.md
  wikigr/cli.py
  wikigr/packs/discovery.py
  wikigr/packs/eval/README.md
  wikigr/packs/eval/__init__.py
  wikigr/packs/eval/baselines.py
  wikigr/packs/eval/metrics.py
  wikigr/packs/eval/models.py
  wikigr/packs/eval/questions.py
  wikigr/packs/eval/runner.py
  wikigr/packs/examples/complete_pack_workflow.sh
  wikigr/packs/examples/create_physics_pack_with_skill.py
  wikigr/packs/examples/run_physics_evaluation.py
  wikigr/packs/examples/sample_questions.jsonl
  wikigr/packs/manifest.py
  wikigr/packs/models.py
  wikigr/packs/registry.py
  wikigr/packs/skill_template.py
  wikigr/packs/validator.py
Due: no-temporal-docs, banned-patterns

Implement Phase 4: Distribution & Installation System
  PHASE2_IMPLEMENTATION.md
  PHASE4_IMPLEMENTATION.md
  tests/packs/test_distribution.py
  tests/packs/test_installer.py
  tests/packs/test_registry_api.py
  tests/packs/test_versioning.py
  wikigr/packs/PHASE4_DISTRIBUTION.md
  wikigr/packs/README.md
  wikigr/packs/__init__.py
  wikigr/packs/distribution.py
  wikigr/packs/examples/create_example_pack.py
  wikigr/packs/examples/install_from_archive.py
  wikigr/packs/examples/package_example_pack.py
  wikigr/packs/examples/update_pack.py
  wikigr/packs/examples/version_compatibility_check.py
  wikigr/packs/installer.py
  wikigr/packs/registry_api.py
  wikigr/packs/versioning.py
Due: no-temporal-docs, banned-patterns

Fix PackManifest backward compatibility
  wikigr/packs/manifest.py
Due: banned-patterns

Add Knowledge Packs design specification
  docs/design/knowledge-packs.md
  docs/index.md
Due: no-temporal-docs

Path conditions:
  no-temporal-docs: any of: \.(md|markdown|mdown)$
  no-root-test-scripts: any of: ^test_.*\.py$
  banned-patterns: any of: \.py$
  no-env-files: any of: \.env
