Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

no-temporal-docs:
  name: No temporal documentation
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*) echo "Blocked temporal doc: $f"; exit 1;; esac; done'' --'
  language: system

no-root-test-scripts:
  name: No root-level test scripts
  entry: 'bash -c ''for f in "$@"; do case "$f" in test_*.py) echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done'' --'
  language: system

banned-patterns:
  name: Banned code patterns
  entry: bash .github/scripts/check-banned-patterns.sh
  language: system
  pass_filenames: false

no-env-files:
  name: No .env files
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done'' --'
  language: system

fix: add build extras to CI test jobs for feedparser import
  .github/workflows/ci.yml
Due: none

docs: add repo hygiene and documentation essentials
  .editorconfig
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile
  LICENSE
  Makefile
  index.scip
Due: no-temporal-docs

fix: correct CHANGELOG dates and CONTRIBUTING doc path
  CHANGELOG.md
  CONTRIBUTING.md
Due: no-temporal-docs

perf: optimize CI with shallow clones and dependency caching
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
Due: no-temporal-docs

chore: prune all 79 remaining stale remote branches
  CHANGELOG.md
Due: no-temporal-docs

fix: correct project URLs in pyproject.toml
  pyproject.toml
Due: none

docs: clarify Skills as primary integration, MCP as alternative
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: no-temporal-docs

docs: remove litellm reference (PyPI supply chain attack)
  scripts/generate_eval_questions.py
Due: banned-patterns

ci: harden supply-chain (SHA-pin actions, least-privilege tokens, pip-audit gate)
  .github/workflows/build-pack.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pack-freshness.yml
  .github/workflows/repo-hygiene.yml
  uv.lock
Due: none

ci: harden supply-chain (SHA-pin actions, least-privilege tokens, pip-audit gate) (#302)
  .github/workflows/build-pack.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pack-freshness.yml
  .github/workflows/repo-hygiene.yml
  uv.lock
Due: none

Path conditions:
  no-temporal-docs: any of: \.(md|markdown|mdown)$
  no-root-test-scripts: any of: ^test_.*\.py$
  banned-patterns: any of: \.py$
  no-env-files: any of: \.env
