Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

no-temporal-docs:
  name: No temporal documentation
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*) echo "Blocked temporal doc: $f"; exit 1;; esac; done'' --'
  language: system

no-root-test-scripts:
  name: No root-level test scripts
  entry: 'bash -c ''for f in "$@"; do case "$f" in test_*.py) echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done'' --'
  language: system

banned-patterns:
  name: Banned code patterns
  entry: bash .github/scripts/check-banned-patterns.sh
  language: system
  pass_filenames: false

no-env-files:
  name: No .env files
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done'' --'
  language: system

Major improvements: BGE embedding model, content cleaning, graph edges
  bootstrap/quickstart.py
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/embeddings/generator.py
  bootstrap/src/embeddings/tests/test_generator.py
  scripts/run_30k_expansion.py
  wikigr/agent/few_shot.py
  wikigr/agent/kg_agent.py
  wikigr/packs/content_cleaner.py
  wikigr/packs/edge_generator.py
Due: banned-patterns

Major improvements: BGE embedding model, content cleaning, graph edges (#203)
  bootstrap/quickstart.py
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/embeddings/generator.py
  bootstrap/src/embeddings/tests/test_generator.py
  scripts/run_30k_expansion.py
  wikigr/agent/few_shot.py
  wikigr/agent/kg_agent.py
  wikigr/packs/content_cleaner.py
  wikigr/packs/edge_generator.py
Due: banned-patterns

Add pack browser skill with registry generator and installer CLI
  .claude/skills/pack-browser/SKILL.md
  .gitignore
  data/pack_registry.json
  scripts/generate_pack_registry.py
  scripts/install_pack.py
Due: no-temporal-docs, banned-patterns

Add pack freshness CI for automated knowledge pack staleness detection
  .github/workflows/pack-freshness.yml
  docs/pack-freshness-ci.md
  scripts/check_pack_freshness.py
Due: no-temporal-docs, banned-patterns

Add pack freshness CI for automated knowledge pack staleness detection (#205)
  .github/workflows/pack-freshness.yml
  docs/pack-freshness-ci.md
  scripts/check_pack_freshness.py
Due: no-temporal-docs, banned-patterns

Add CI workflow for building knowledge packs from GitHub issues
  .github/ISSUE_TEMPLATE/build-pack.yml
  .github/workflows/build-pack.yml
  docs/ci-pack-building.md
  scripts/build_pack_from_issue.py
Due: no-temporal-docs, banned-patterns

Add CI workflow for building knowledge packs from GitHub issues (#209)
  .github/ISSUE_TEMPLATE/build-pack.yml
  .github/workflows/build-pack.yml
  docs/ci-pack-building.md
  scripts/build_pack_from_issue.py
Due: no-temporal-docs, banned-patterns

Fix critical and high severity audit findings
  .github/workflows/build-pack.yml
  .github/workflows/pack-freshness.yml
  scripts/build_pack_from_issue.py
  scripts/check_pack_freshness.py
  scripts/eval_single_pack.py
Due: banned-patterns

Fix critical and high severity audit findings (#210)
  .github/workflows/build-pack.yml
  .github/workflows/pack-freshness.yml
  scripts/build_pack_from_issue.py
  scripts/check_pack_freshness.py
  scripts/eval_single_pack.py
Due: banned-patterns

Add eval questions for 10 missing packs + eval_single_pack.py
  data/packs/autogen-expert/eval/questions.json
  data/packs/autogen-expert/eval/questions.jsonl
  data/packs/claude-agent-sdk/eval/questions.json
  data/packs/claude-agent-sdk/eval/questions.jsonl
  data/packs/crew-ai-expert/eval/questions.json
  data/packs/crew-ai-expert/eval/questions.jsonl
  data/packs/fabric-graph-gql-expert/eval/questions.json
  data/packs/fabric-graph-gql-expert/eval/questions.jsonl
  data/packs/github-copilot-sdk/eval/questions.json
  data/packs/github-copilot-sdk/eval/questions.jsonl
  data/packs/langchain-expert/eval/questions.json
  data/packs/langchain-expert/eval/questions.jsonl
  data/packs/llamaindex-expert/eval/questions.json
  data/packs/llamaindex-expert/eval/questions.jsonl
  data/packs/microsoft-agent-framework/eval/questions.json
  data/packs/microsoft-agent-framework/eval/questions.jsonl
  data/packs/semantic-kernel/eval/questions.json
  data/packs/semantic-kernel/eval/questions.jsonl
  data/packs/workiq-mcp/eval/questions.json
  data/packs/workiq-mcp/eval/questions.jsonl
Due: none

Add eval questions for 10 missing packs + eval_single_pack.py (#214)
  data/packs/autogen-expert/eval/questions.json
  data/packs/autogen-expert/eval/questions.jsonl
  data/packs/claude-agent-sdk/eval/questions.json
  data/packs/claude-agent-sdk/eval/questions.jsonl
  data/packs/crew-ai-expert/eval/questions.json
  data/packs/crew-ai-expert/eval/questions.jsonl
  data/packs/fabric-graph-gql-expert/eval/questions.json
  data/packs/fabric-graph-gql-expert/eval/questions.jsonl
  data/packs/github-copilot-sdk/eval/questions.json
  data/packs/github-copilot-sdk/eval/questions.jsonl
  data/packs/langchain-expert/eval/questions.json
  data/packs/langchain-expert/eval/questions.jsonl
  data/packs/llamaindex-expert/eval/questions.json
  data/packs/llamaindex-expert/eval/questions.jsonl
  data/packs/microsoft-agent-framework/eval/questions.json
  data/packs/microsoft-agent-framework/eval/questions.jsonl
  data/packs/semantic-kernel/eval/questions.json
  data/packs/semantic-kernel/eval/questions.jsonl
  data/packs/workiq-mcp/eval/questions.json
  data/packs/workiq-mcp/eval/questions.jsonl
Due: none

Regenerate URLs, manifests, build scripts for 10 missing packs (#213)
  data/packs/autogen-expert/manifest.json
  data/packs/autogen-expert/urls.txt
  data/packs/claude-agent-sdk/manifest.json
  data/packs/claude-agent-sdk/urls.txt
  data/packs/crew-ai-expert/manifest.json
  data/packs/crew-ai-expert/urls.txt
  data/packs/fabric-graph-gql-expert/manifest.json
  data/packs/fabric-graph-gql-expert/urls.txt
  data/packs/github-copilot-sdk/manifest.json
  data/packs/github-copilot-sdk/urls.txt
  data/packs/langchain-expert/manifest.json
  data/packs/langchain-expert/urls.txt
  data/packs/llamaindex-expert/manifest.json
  data/packs/llamaindex-expert/urls.txt
  data/packs/microsoft-agent-framework/manifest.json
  data/packs/microsoft-agent-framework/urls.txt
  data/packs/semantic-kernel/manifest.json
  data/packs/semantic-kernel/urls.txt
  data/packs/workiq-mcp/manifest.json
  data/packs/workiq-mcp/urls.txt
  scripts/build_autogen_expert_pack.py
  scripts/build_claude_agent_sdk_pack.py
  scripts/build_crew_ai_expert_pack.py
  scripts/build_fabric_graph_gql_expert_pack.py
  scripts/build_github_copilot_sdk_pack.py
  scripts/build_langchain_expert_pack.py
  scripts/build_llamaindex_expert_pack.py
  scripts/build_microsoft_agent_framework_pack.py
  scripts/build_semantic_kernel_pack.py
  scripts/build_workiq_mcp_pack.py
Due: banned-patterns

Regenerate URLs, manifests, build scripts for 10 missing packs (#215)
  data/packs/autogen-expert/manifest.json
  data/packs/autogen-expert/urls.txt
  data/packs/claude-agent-sdk/manifest.json
  data/packs/claude-agent-sdk/urls.txt
  data/packs/crew-ai-expert/manifest.json
  data/packs/crew-ai-expert/urls.txt
  data/packs/fabric-graph-gql-expert/manifest.json
  data/packs/fabric-graph-gql-expert/urls.txt
  data/packs/github-copilot-sdk/manifest.json
  data/packs/github-copilot-sdk/urls.txt
  data/packs/langchain-expert/manifest.json
  data/packs/langchain-expert/urls.txt
  data/packs/llamaindex-expert/manifest.json
  data/packs/llamaindex-expert/urls.txt
  data/packs/microsoft-agent-framework/manifest.json
  data/packs/microsoft-agent-framework/urls.txt
  data/packs/semantic-kernel/manifest.json
  data/packs/semantic-kernel/urls.txt
  data/packs/workiq-mcp/manifest.json
  data/packs/workiq-mcp/urls.txt
  scripts/build_autogen_expert_pack.py
  scripts/build_claude_agent_sdk_pack.py
  scripts/build_crew_ai_expert_pack.py
  scripts/build_fabric_graph_gql_expert_pack.py
  scripts/build_github_copilot_sdk_pack.py
  scripts/build_langchain_expert_pack.py
  scripts/build_llamaindex_expert_pack.py
  scripts/build_microsoft_agent_framework_pack.py
  scripts/build_semantic_kernel_pack.py
  scripts/build_workiq_mcp_pack.py
Due: banned-patterns

feat: add cross-encoder reranking to KG agent with security hardening
  docs/howto/phase1-enhancements.md
  docs/index.md
  docs/reference/module-docs/cross-encoder-reranker.md
  docs/reference/phase1-enhancements.md
  launcher.py
  pyproject.toml
  run.sh
  tests/agent/test_cross_encoder.py
  tests/agent/test_kg_agent_core.py
  uv.lock
  wikigr/agent/cross_encoder.py
  wikigr/agent/kg_agent.py
Due: no-temporal-docs, banned-patterns

fix: resolve ruff linting and formatting issues from pre-commit
  launcher.py
  tests/agent/test_cross_encoder.py
  tests/agent/test_kg_agent_core.py
  wikigr/agent/cross_encoder.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

chore: bump version to 0.2.0 for cross-encoder reranking release
  pyproject.toml
  uv.lock
Due: none

Add multi-query expansion and hybrid retrieval (Improvements 4 & 5)
  docs/concepts/retrieval-enhancements-design.md
  docs/howto/retrieval-enhancements.md
  docs/index.md
  docs/reference/retrieval-enhancements.md
  pyproject.toml
  tests/agent/test_retrieval_enhancements.py
  uv.lock
  wikigr/agent/kg_agent.py
Due: no-temporal-docs, banned-patterns

fix: improve URL coverage for 5 knowledge packs (Issue #211 Improvement 6)
  bootstrap/src/sources/web.py
  data/packs/langchain-expert/urls.txt
  data/packs/llamaindex-expert/urls.txt
  data/packs/openai-api-expert/urls.txt
  data/packs/vercel-ai-sdk/urls.txt
  data/packs/zig-expert/urls.txt
  docs/howto/curate-pack-urls.md
  docs/index.md
  docs/knowledge_packs/pack-url-coverage.md
  docs/reference/urls-txt-format.md
  launcher.py
  pyproject.toml
  run.sh
  scripts/build_langchain_expert_pack.py
  scripts/build_llamaindex_expert_pack.py
  scripts/build_openai_api_expert_pack.py
  scripts/build_vercel_ai_sdk_pack.py
  scripts/build_zig_pack.py
  scripts/validate_pack_urls.py
  tests/packs/test_pack_url_coverage.py
Due: no-temporal-docs, banned-patterns

feat: Add confidence-gated context injection for KG agent (Issue 211 Improvement 1)
  docs/howto/confidence-gated-context-injection.md
  docs/howto/vector-search-primary-retrieval.md
  docs/index.md
  launcher.py
  pyproject.toml
  run.sh
  tests/agent/test_kg_agent_core.py
  tests/agent/test_kg_agent_semantic.py
  wikigr/agent/kg_agent.py
Due: no-temporal-docs, banned-patterns

Fix ruff SIM117/SIM102 linting issues in retrieval tests and agent
  tests/agent/test_retrieval_enhancements.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

fix: Correct pre-existing test failures found during outside-in testing
  tests/agent/test_kg_agent_semantic.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

fix: address code review findings from PR #242
  bootstrap/src/sources/web.py
  pyproject.toml
  uv.lock
Due: banned-patterns

fix: update security tests to match HTTPS-only enforcement policy
  bootstrap/src/sources/tests/test_web_security.py
Due: banned-patterns

feat: improve eval questions for 8 losing packs (Issue 211 Improvement 7)
  data/packs/bicep-infrastructure/eval/questions.jsonl
  data/packs/go-expert/eval/questions.jsonl
  data/packs/langchain-expert/eval/questions.jsonl
  data/packs/openai-api-expert/eval/questions.jsonl
  data/packs/react-expert/eval/questions.jsonl
  data/packs/vercel-ai-sdk/eval/questions.jsonl
  data/packs/zig-expert/eval/questions.jsonl
  docs/howto/improving-eval-questions.md
  docs/index.md
  launcher.py
  run.sh
  tests/packs/eval/test_issue211_eval_questions.py
Due: no-temporal-docs, banned-patterns

fix: sync uv.lock version with pyproject.toml revert to 0.1.0
  uv.lock
Due: none

fix: remove --cov-fail-under from addopts to allow data-only eval tests
  pyproject.toml
Due: none

fix: address philosophy review — testpaths, version, artifacts
  pyproject.toml
Due: none

Add MkDocs Material documentation site with GitHub Pages deployment
  .github/workflows/docs.yml
  .gitignore
  docs/concepts/architecture.md
  docs/concepts/how-packs-work.md
  docs/concepts/retrieval-pipeline.md
  docs/evaluation/improving-accuracy.md
  docs/evaluation/methodology.md
  docs/evaluation/results.md
  docs/getting-started/overview.md
  docs/getting-started/quickstart.md
  docs/getting-started/tutorial.md
  docs/howto/build-a-pack.md
  docs/howto/configure-enhancements.md
  docs/howto/run-evaluations.md
  docs/index.md
  docs/reference/cli-commands.md
  docs/reference/kg-agent-api.md
  docs/reference/pack-manifest.md
  mkdocs.yml
Due: no-temporal-docs

Update eval to use Opus as judge model and refresh pack manifests
  data/packs/all_packs_evaluation.json
  data/packs/bicep-infrastructure/manifest.json
  data/packs/go-expert/manifest.json
  data/packs/langchain-expert/manifest.json
  data/packs/llamaindex-expert/manifest.json
  data/packs/openai-api-expert/manifest.json
  data/packs/react-expert/manifest.json
  data/packs/vercel-ai-sdk/manifest.json
  data/packs/zig-expert/manifest.json
  scripts/run_all_packs_evaluation.py
Due: banned-patterns

Update docs with Opus-judge eval results and fix index page
  data/packs/all_packs_evaluation.json
  docs/evaluation/methodology.md
  docs/evaluation/results.md
  docs/index.md
Due: no-temporal-docs

Rewrite README and docs landing page
  README.md
  docs/index.md
Due: no-temporal-docs

Remove Enhanced/Pack distinction - Pack is always the full pipeline
  docs/evaluation/improving-accuracy.md
  docs/evaluation/methodology.md
  docs/evaluation/results.md
  docs/getting-started/overview.md
  docs/getting-started/quickstart.md
  docs/getting-started/tutorial.md
  docs/howto/build-a-pack.md
  docs/howto/run-evaluations.md
Due: no-temporal-docs

Path conditions:
  no-temporal-docs: any of: \.(md|markdown|mdown)$
  no-root-test-scripts: any of: ^test_.*\.py$
  banned-patterns: any of: \.py$
  no-env-files: any of: \.env
