Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

no-temporal-docs:
  name: No temporal documentation
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*) echo "Blocked temporal doc: $f"; exit 1;; esac; done'' --'
  language: system

no-root-test-scripts:
  name: No root-level test scripts
  entry: 'bash -c ''for f in "$@"; do case "$f" in test_*.py) echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done'' --'
  language: system

banned-patterns:
  name: Banned code patterns
  entry: bash .github/scripts/check-banned-patterns.sh
  language: system
  pass_filenames: false

no-env-files:
  name: No .env files
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done'' --'
  language: system

Add Kuzu Explorer launch script for graph visualization
  README.md
  bootstrap/scripts/explore.py
  pyproject.toml
Due: no-temporal-docs, banned-patterns

Add Kuzu Explorer launch script for graph visualization (#6)
  README.md
  bootstrap/scripts/explore.py
  pyproject.toml
Due: no-temporal-docs, banned-patterns

Fix 3 blockers from PR #7 review: Cypher injection, N+1 queries, shared connection
  backend/API.md
  backend/db/connection.py
  backend/models/common.py
  backend/services/article_service.py
  backend/services/graph_service.py
  backend/tests/test_connection.py
Due: no-temporal-docs, banned-patterns

Fix incompatible dependency versions across requirements files (#11)
  .github/workflows/ci.yml
  backend/requirements.txt
  requirements.txt
Due: none

Fix deprecated FastAPI patterns and missing connection cleanup (#14)
  backend/db/connection.py
  backend/main.py
Due: banned-patterns

Extend CI linting and banned-pattern checks to cover backend/
  .github/scripts/check-banned-patterns.sh
  .github/workflows/ci.yml
  pyproject.toml
  pyrightconfig.json
Due: none

Fix case-sensitive autocomplete, strict depth validation, and extract shared summary helper (#17)
  backend/services/__init__.py
  backend/services/graph_service.py
  backend/services/search_service.py
  backend/services/summary_utils.py
Due: banned-patterns

Fix N+1 query pattern in semantic search (#9)
  backend/services/search_service.py
Due: banned-patterns

Fix PWA icons missing, SW registration conflict, and workbox URL (#12)
  frontend/index.html
  frontend/public/apple-touch-icon.png
  frontend/public/favicon.ico
  frontend/public/mask-icon.svg
  frontend/public/pwa-192x192.png
  frontend/public/pwa-512x512.png
  frontend/src/main.tsx
  frontend/vite.config.ts
Due: none

Fix race conditions and unbounded cache in bootstrap pipeline (#10)
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/work_queue.py
  bootstrap/src/wikipedia/api_client.py
Due: banned-patterns

Fix frontend filters, search mode, and node fetch race condition (#15)
  frontend/src/App.tsx
  frontend/src/components/Search/SearchBar.tsx
  frontend/src/components/Sidebar/NodeInfo.tsx
  frontend/src/services/api.ts
Due: none

Add rate limiting, CORS hardening, and security headers (#13)
  backend/api/v1/articles.py
  backend/api/v1/graph.py
  backend/api/v1/search.py
  backend/config.py
  backend/main.py
  backend/rate_limit.py
  backend/requirements.txt
Due: banned-patterns

Fix D3 simulation rebuild on click and store state mutation (#8)
  frontend/src/components/Graph/GraphCanvas.tsx
  frontend/src/store/graphStore.ts
Due: none

Fix Kuzu Cypher query in summary_utils: WITH ORDER BY requires SKIP/LIMIT
  backend/services/summary_utils.py
Due: banned-patterns

Fix rate limiter breaking tests and add missing security headers
  backend/main.py
  backend/rate_limit.py
  backend/tests/conftest.py
Due: banned-patterns

Fix claim_work re-verify race and ROLLBACK error masking
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/work_queue.py
Due: banned-patterns

Fix review issues: prevent retry of aborted requests, add eslint-disable comment
  frontend/src/App.tsx
  frontend/src/services/api.ts
Due: none

Remove unnecessary explicit starlette pin
  backend/requirements.txt
Due: none

Remove defensive str() casts and misleading DISTINCT from batch queries
  backend/services/search_service.py
Due: banned-patterns

Remove duplicate manifest: static manifest.json conflicts with vite-plugin-pwa
  frontend/index.html
  frontend/public/manifest.json
Due: none

Fix CSP header breaking /docs and /redoc Swagger UI pages
  backend/main.py
Due: banned-patterns

Remove YAGNI max_length parameter and internal public export
  backend/services/__init__.py
  backend/services/summary_utils.py
Due: banned-patterns

Simplify claim_work: replace UPDATE+re-verify with atomic MATCH+SET+RETURN
  bootstrap/src/expansion/work_queue.py
Due: banned-patterns

Use conn.close() instead of del conn for deterministic cleanup
  backend/db/connection.py
Due: banned-patterns

Show node labels on hover only to avoid overlap on dense graphs
  frontend/src/components/Graph/GraphCanvas.tsx
Due: none

Fix section duplicate key bug and add 30K expansion script
  bootstrap/src/expansion/processor.py
  scripts/run_30k_expansion.py
Due: banned-patterns

Fix inline schema: add article_count to Category, section_index to HAS_SECTION
  scripts/run_30k_expansion.py
Due: banned-patterns

Fix loky semaphore leak that crashes expansion after ~6K articles
  scripts/run_30k_expansion.py
Due: banned-patterns

Handle Wikipedia redirects and stub articles gracefully
  bootstrap/src/expansion/processor.py
Due: banned-patterns

Fix loky semaphore leak: torch spawn mode + noqa for required import order
  scripts/run_30k_expansion.py
Due: banned-patterns

Remove joblib/torch imports (not in requirements)
  scripts/run_30k_expansion.py
Due: banned-patterns

Fix pandas version: 3.0 doesn't exist, use 2.x
  pyproject.toml
Due: none

Fix numpy version: 2.4 doesn't exist, use 1.26+
  pyproject.toml
Due: none

Use python3.10 shebang (numpy not available in 3.14)
  scripts/run_30k_expansion.py
Due: banned-patterns

Add LLM knowledge extraction
  bootstrap/src/extraction/__init__.py
  bootstrap/src/extraction/llm_extractor.py
  scripts/run_30k_llm.py
Due: banned-patterns

Add Knowledge Graph Agent library
  examples/query_kg_agent.py
  scripts/run_30k_llm_parallel.py
  wikigr/agent/__init__.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix OOM: reduce batch size, add cleanup, log stalls
  scripts/run_30k_llm_parallel.py
Due: banned-patterns

Path conditions:
  no-temporal-docs: any of: \.(md|markdown|mdown)$
  no-root-test-scripts: any of: ^test_.*\.py$
  banned-patterns: any of: \.py$
  no-env-files: any of: \.env
