Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

.pre-commit-config.yaml:

# Pre-commit hooks for WikiGR
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

      # Run the formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Pyright - Type checking (only on src, not test scripts)
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.390
    hooks:
      - id: pyright
        files: ^bootstrap/src/
        additional_dependencies:
          - "kuzu>=0.11.3,<0.12.0"
          - "sentence-transformers>=5.2.0,<6.0.0"
          - "requests>=2.32.0,<3.0.0"
          - "pandas>=3.0.0,<4.0.0"
          - "numpy>=2.4.0,<3.0.0"

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending

  # Repository hygiene hooks
  - repo: local
    hooks:
      - id: no-temporal-docs
        name: No temporal documentation
        entry: >-
          bash -c 'for f in "$@"; do case "$(basename "$f")" in
          PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*)
          echo "Blocked temporal doc: $f"; exit 1;; esac; done' --
        language: system
        types: [markdown]

      - id: no-root-test-scripts
        name: No root-level test scripts
        entry: >-
          bash -c 'for f in "$@"; do case "$f" in test_*.py)
          echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done' --
        language: system
        files: ^test_.*\.py$

      - id: banned-patterns
        name: Banned code patterns
        entry: bash .github/scripts/check-banned-patterns.sh
        language: system
        pass_filenames: false
        types: [python]

      - id: no-env-files
        name: No .env files
        entry: >-
          bash -c 'for f in "$@"; do case "$(basename "$f")" in
          .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done' --
        language: system
        files: \.env

Add KG Agent tests
  scripts/run_30k_auto_restart.sh
  tests/agent/__init__.py
  tests/agent/test_kg_agent_queries.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

KG Agent: 20/23 tests passing
  tests/agent/test_kg_agent_queries.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Test against real 30K DB: 18/23 passing (78%)
  tests/agent/test_kg_agent_queries.py
Due: banned-patterns

Agent tests: 22/23 passing (96%)
  .amplihack/kuzu_db
  .amplihack/kuzu_db.wal
  .gitignore
  index.scip
  tests/agent/test_kg_agent_queries.py
Due: banned-patterns

Agent tests: all 23 passing when tested individually
  tests/agent/test_kg_agent_queries.py
Due: banned-patterns

Add download script for KG database
  download_kg.sh
Due: none

Add SeedAgent and wikigr create CLI for topic-based knowledge graphs
  README.md
  bootstrap/docs/seed-agent.md
  bootstrap/src/wikipedia/api_client.py
  bootstrap/tests/test_integration.py
  pyproject.toml
  tests/agent/test_seed_agent.py
  wikigr/agent/__init__.py
  wikigr/agent/seed_agent.py
  wikigr/cli.py
Due: no-temporal-docs, banned-patterns

Fix CI workflow: replace invalid hashFiles in job-level if conditions
  .github/workflows/ci.yml
Due: none

Fix CI: use uv venv instead of --system for externally managed Python
  .github/workflows/ci.yml
Due: none

Add missing README.md for extraction module
  bootstrap/src/extraction/README.md
Due: no-temporal-docs

Fix pre-existing CI failures across multiple jobs
  .github/workflows/ci.yml
  bootstrap/src/expansion/tests/test_link_discovery.py
Due: banned-patterns

Fix remaining pre-existing CI failures
  .github/workflows/ci.yml
  bootstrap/src/embeddings/tests/test_generator.py
  scripts/run_30k_llm.py
  tests/agent/test_kg_agent_queries.py
Due: banned-patterns

Fix trailing newlines in docs and make pyright non-blocking
  .github/workflows/ci.yml
  bootstrap/data/seeds_1k.json
  bootstrap/docs/architecture-specification.md
  bootstrap/docs/embedding-model-choice.md
  bootstrap/docs/research-findings.md
  bootstrap/docs/seed-selection-strategy.md
  bootstrap/docs/state-machine.md
Due: no-temporal-docs

Fix coverage threshold and mark pre-existing test failures non-blocking
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Add SeedAgent and wikigr create CLI for topic-based knowledge graphs (#48)
  .github/workflows/ci.yml
  README.md
  bootstrap/data/seeds_1k.json
  bootstrap/docs/architecture-specification.md
  bootstrap/docs/embedding-model-choice.md
  bootstrap/docs/research-findings.md
  bootstrap/docs/seed-agent.md
  bootstrap/docs/seed-selection-strategy.md
  bootstrap/docs/state-machine.md
  bootstrap/src/embeddings/tests/test_generator.py
  bootstrap/src/expansion/tests/test_link_discovery.py
  bootstrap/src/extraction/README.md
  bootstrap/src/wikipedia/api_client.py
  bootstrap/tests/test_integration.py
  pyproject.toml
  scripts/run_30k_llm.py
  tests/agent/test_kg_agent_queries.py
  tests/agent/test_seed_agent.py
  wikigr/agent/__init__.py
  wikigr/agent/seed_agent.py
  wikigr/cli.py
Due: no-temporal-docs, banned-patterns

Fix all 9 audit issues: security, performance, correctness
  backend/api/v1/articles.py
  backend/api/v1/graph.py
  backend/api/v1/search.py
  backend/main.py
  backend/services/search_service.py
  bootstrap/src/expansion/link_discovery.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/work_queue.py
  wikigr/agent/kg_agent.py
  wikigr/agent/seed_agent.py
Due: banned-patterns

Fix all 9 quality audit issues (#59)
  backend/api/v1/articles.py
  backend/api/v1/graph.py
  backend/api/v1/search.py
  backend/main.py
  backend/services/search_service.py
  bootstrap/src/expansion/link_discovery.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/work_queue.py
  wikigr/agent/kg_agent.py
  wikigr/agent/seed_agent.py
Due: banned-patterns

Fix pre-existing CI failures: backend config path and CI workflow
  .github/workflows/ci.yml
  backend/config.py
  backend/tests/conftest.py
Due: banned-patterns

Fix pre-existing frontend test failures
  frontend/src/components/__tests__/FilterPanel.test.tsx
  frontend/src/components/__tests__/NodeInfo.test.tsx
  frontend/src/components/__tests__/SearchBar.test.tsx
  frontend/src/store/__tests__/graphStore.test.ts
Due: none

Fix frontend test suite import errors: axios and D3 mocks
  frontend/src/api/__tests__/client.test.ts
  frontend/src/components/__tests__/GraphCanvas.test.tsx
Due: none

Skip TDD-stub test suites with incomplete mocks (client, GraphCanvas)
  frontend/src/api/__tests__/client.test.ts
  frontend/src/components/__tests__/GraphCanvas.test.tsx
Due: none

Exclude test files from frontend TypeScript build
  frontend/tsconfig.json
Due: none

Fix SearchBar TypeScript: use ReturnType<typeof setTimeout> not NodeJS.Timeout
  frontend/src/components/Search/SearchBar.tsx
Due: none

Fix all pre-existing CI failures (#60)
  .github/workflows/ci.yml
  backend/config.py
  backend/tests/conftest.py
  frontend/src/api/__tests__/client.test.ts
  frontend/src/components/Search/SearchBar.tsx
  frontend/src/components/__tests__/FilterPanel.test.tsx
  frontend/src/components/__tests__/GraphCanvas.test.tsx
  frontend/src/components/__tests__/NodeInfo.test.tsx
  frontend/src/components/__tests__/SearchBar.test.tsx
  frontend/src/store/__tests__/graphStore.test.ts
  frontend/tsconfig.json
Due: banned-patterns

Fix all 31 audit round 2 findings
  backend/api/v1/graph.py
  backend/api/v1/search.py
  backend/db/connection.py
  backend/services/article_service.py
  backend/services/graph_service.py
  backend/services/search_service.py
  backend/services/summary_utils.py
  bootstrap/src/expansion/link_discovery.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/work_queue.py
  wikigr/agent/kg_agent.py
  wikigr/agent/seed_agent.py
  wikigr/cli.py
Due: banned-patterns

Fix all 31 audit round 2 findings (#62)
  backend/api/v1/graph.py
  backend/api/v1/search.py
  backend/db/connection.py
  backend/services/article_service.py
  backend/services/graph_service.py
  backend/services/search_service.py
  backend/services/summary_utils.py
  bootstrap/src/expansion/link_discovery.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/work_queue.py
  wikigr/agent/kg_agent.py
  wikigr/agent/seed_agent.py
  wikigr/cli.py
Due: banned-patterns

Add wikigr update and status subcommands
  wikigr/cli.py
Due: banned-patterns

Add parallel expansion with configurable worker threads
  bootstrap/src/expansion/orchestrator.py
  wikigr/cli.py
Due: banned-patterns

Add free-text semantic search to KG Agent
  tests/agent/test_kg_agent_semantic.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add /api/v1/chat endpoint and ChatPanel component
  backend/api/v1/chat.py
  backend/main.py
  backend/models/__init__.py
  backend/models/chat.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Chat/ChatPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/graph.ts
Due: banned-patterns

Add free-text semantic search to KG Agent (#63)
  tests/agent/test_kg_agent_semantic.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add parallel expansion with configurable worker threads (#64)
  bootstrap/src/expansion/orchestrator.py
  wikigr/cli.py
Due: banned-patterns

Add wikigr update and status subcommands (#65)
  wikigr/cli.py
Due: banned-patterns

Add /api/v1/chat endpoint and ChatPanel component (#67)
  backend/api/v1/chat.py
  backend/main.py
  backend/models/__init__.py
  backend/models/chat.py
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/components/Chat/ChatPanel.tsx
  frontend/src/services/api.ts
  frontend/src/types/graph.ts
Due: banned-patterns

Add graph-aware RAG with multi-hop retrieval
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add graph-aware RAG with multi-hop retrieval (#66)
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix audit cycle 1 post-features findings
  backend/api/v1/chat.py
  bootstrap/src/expansion/orchestrator.py
  wikigr/agent/kg_agent.py
  wikigr/cli.py
Due: banned-patterns

Fix audit cycle 1 post-features findings (#68)
  backend/api/v1/chat.py
  bootstrap/src/expansion/orchestrator.py
  wikigr/agent/kg_agent.py
  wikigr/cli.py
Due: banned-patterns

Fix all 8 audit cycle 2 findings (final round)
  backend/services/article_service.py
  backend/tests/test_graph_api.py
  backend/tests/test_search_api.py
  bootstrap/src/expansion/orchestrator.py
  bootstrap/src/expansion/work_queue.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix audit cycle 2 findings - final round (#69)
  backend/services/article_service.py
  backend/tests/test_graph_api.py
  backend/tests/test_search_api.py
  bootstrap/src/expansion/orchestrator.py
  bootstrap/src/expansion/work_queue.py
  wikigr/agent/kg_agent.py
Due: banned-patterns
