Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

.pre-commit-config.yaml:

# Pre-commit hooks for WikiGR
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Ruff - Fast Python linter and formatter (replaces black, isort, flake8)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      # Run the linter
      - id: ruff
        args: [--fix]
        types_or: [python, pyi]

      # Run the formatter
      - id: ruff-format
        types_or: [python, pyi]

  # Pyright - Type checking (only on src, not test scripts)
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.390
    hooks:
      - id: pyright
        files: ^bootstrap/src/
        additional_dependencies:
          - "kuzu>=0.11.3,<0.12.0"
          - "sentence-transformers>=5.2.0,<6.0.0"
          - "requests>=2.32.0,<3.0.0"
          - "pandas>=3.0.0,<4.0.0"
          - "numpy>=2.4.0,<3.0.0"

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: debug-statements
      - id: mixed-line-ending

  # Repository hygiene hooks
  - repo: local
    hooks:
      - id: no-temporal-docs
        name: No temporal documentation
        entry: >-
          bash -c 'for f in "$@"; do case "$(basename "$f")" in
          PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*)
          echo "Blocked temporal doc: $f"; exit 1;; esac; done' --
        language: system
        types: [markdown]

      - id: no-root-test-scripts
        name: No root-level test scripts
        entry: >-
          bash -c 'for f in "$@"; do case "$f" in test_*.py)
          echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done' --
        language: system
        files: ^test_.*\.py$

      - id: banned-patterns
        name: Banned code patterns
        entry: bash .github/scripts/check-banned-patterns.sh
        language: system
        pass_filenames: false
        types: [python]

      - id: no-env-files
        name: No .env files
        entry: >-
          bash -c 'for f in "$@"; do case "$(basename "$f")" in
          .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done' --
        language: system
        files: \.env

Implement Phase 1 of Knowledge Packs: Pack Format & Manifest
  .amplihack/kuzu_db.wal
  docs/knowledge-packs-phase1-summary.md
  index.scip
  tests/packs/__init__.py
  tests/packs/test_manifest.py
  tests/packs/test_pack_structure.py
  tests/packs/test_validator.py
  wikigr/packs/README.md
  wikigr/packs/__init__.py
  wikigr/packs/examples/create_example_pack.py
  wikigr/packs/manifest.py
  wikigr/packs/validator.py
Due: no-temporal-docs, banned-patterns

Implement Physics Expert Knowledge Pack (Issue #142)
  STEP13_TEST_RESULTS.md
  data/packs/physics-expert/BUILD.md
  data/packs/physics-expert/README.md
  data/packs/physics-expert/eval/questions.jsonl
  data/packs/physics-expert/kg_config.json
  data/packs/physics-expert/manifest.json
  data/packs/physics-expert/skill.md
  data/packs/physics-expert/topics.txt
  eval_relationships.py
  scripts/build_physics_pack.py
  scripts/package_physics_pack.py
  tests/packs/eval/test_baselines.py
  tests/packs/eval/test_eval_models.py
  tests/packs/eval/test_integration.py
  tests/packs/eval/test_kg_adapter.py
  tests/packs/eval/test_runner.py
  topics.md
  wikigr/packs/__init__.py
  wikigr/packs/eval/__init__.py
  wikigr/packs/eval/baselines.py
  wikigr/packs/eval/kg_adapter.py
  wikigr/packs/eval/models.py
  wikigr/packs/eval/runner.py
Due: no-temporal-docs, banned-patterns

Fix schema field name in questions.jsonl
  STEP19_OUTSIDE_IN_TEST.md
  data/packs/physics-expert/eval/questions.jsonl
Due: no-temporal-docs

Clean up temporal documentation files
  STEP13_TEST_RESULTS.md
  STEP19_OUTSIDE_IN_TEST.md
Due: no-temporal-docs

fix: correct integration test path in CI workflow
  .github/workflows/ci.yml
  tests/packs/eval/test_integration.py
Due: banned-patterns

Priority 1: Implement Physics Expert Knowledge Pack (#143)
  .github/workflows/ci.yml
  data/packs/physics-expert/BUILD.md
  data/packs/physics-expert/README.md
  data/packs/physics-expert/eval/questions.jsonl
  data/packs/physics-expert/kg_config.json
  data/packs/physics-expert/manifest.json
  data/packs/physics-expert/skill.md
  data/packs/physics-expert/topics.txt
  eval_relationships.py
  scripts/build_physics_pack.py
  scripts/package_physics_pack.py
  tests/packs/eval/test_baselines.py
  tests/packs/eval/test_eval_models.py
  tests/packs/eval/test_integration.py
  tests/packs/eval/test_kg_adapter.py
  tests/packs/eval/test_runner.py
  topics.md
  wikigr/packs/__init__.py
  wikigr/packs/eval/__init__.py
  wikigr/packs/eval/baselines.py
  wikigr/packs/eval/kg_adapter.py
  wikigr/packs/eval/models.py
  wikigr/packs/eval/runner.py
Due: no-temporal-docs, banned-patterns

Complete Priority 1-4: Build pack, wire KG Agent, add CI
  .amplihack/kuzu_db.wal
  .github/workflows/ci.yml
  PHASE2_IMPLEMENTATION.md
  PHASE4_IMPLEMENTATION.md
  SECURITY_FIXES.md
  bootstrap/src/extraction/llm_extractor.py
  data/packs/physics-expert/manifest.json
  docs/index.md
  index.scip
  scripts/build_physics_pack.py
  wikigr/cli.py
  wikigr/packs/PHASE4_DISTRIBUTION.md
  wikigr/packs/eval/baselines.py
  wikigr/packs/eval/models.py
  wikigr/packs/skill_template.py
Due: no-temporal-docs, banned-patterns

Add Knowledge Packs section to README
  README.md
Due: no-temporal-docs

Priority 5: Add Fabric GraphQL pack URLs and eval questions
  data/packs/fabric-graphql-expert/eval/questions.jsonl
  data/packs/fabric-graphql-expert/urls.txt
Due: none

Add to_dict() for JSON serialization
  wikigr/packs/eval/models.py
Due: banned-patterns

Complete packaging: validator and gitignore fixes
  .gitignore
  scripts/package_physics_pack.py
  wikigr/packs/validator.py
Due: banned-patterns

Complete Issue #141: Knowledge Packs Priority 1-6 Implementation (#144)
  .amplihack/kuzu_db.wal
  .github/workflows/ci.yml
  .gitignore
  PHASE2_IMPLEMENTATION.md
  PHASE4_IMPLEMENTATION.md
  README.md
  SECURITY_FIXES.md
  bootstrap/src/extraction/llm_extractor.py
  data/packs/fabric-graphql-expert/eval/questions.jsonl
  data/packs/fabric-graphql-expert/urls.txt
  data/packs/physics-expert/manifest.json
  docs/index.md
  index.scip
  scripts/build_physics_pack.py
  scripts/package_physics_pack.py
  wikigr/cli.py
  wikigr/packs/PHASE4_DISTRIBUTION.md
  wikigr/packs/eval/baselines.py
  wikigr/packs/eval/models.py
  wikigr/packs/skill_template.py
  wikigr/packs/validator.py
Due: no-temporal-docs, banned-patterns

Upgrade to Opus 4.6 + WebFetch baseline
  backups/physics-expert-wip-20260225-025201/README.md
  backups/physics-expert-wip-20260225-025201/eval/questions.jsonl
  backups/physics-expert-wip-20260225-025201/kg_config.json
  backups/physics-expert-wip-20260225-025201/manifest.json
  backups/physics-expert-wip-20260225-025201/skill.md
  backups/physics-expert-wip-20260225-025201/topics.txt
  data/packs/fabric-graph-gql-expert/eval/questions.jsonl
  data/packs/fabric-graph-gql-expert/urls.txt
  data/test_seeds.json
  docs/packs/HOW_TO_CREATE_YOUR_OWN.md
  docs/packs/IMPLEMENTATION_GUIDE.md
  docs/packs/physics-expert/EVALUATION.md
  docs/packs/physics-expert/README.md
  frontend/test-results/.last-run.json
  scripts/run_opus_evaluation.py
  test-results/.last-run.json
  tests/integration/test_kg_adapter_integration.py
  tests/packs/eval/README.md
  tests/packs/eval/conftest.py
  tests/packs/eval/test_baselines.py
  tests/packs/eval/test_baselines_comprehensive.py
  tests/packs/eval/test_kg_adapter_unit.py
  tests/packs/eval/test_question_schema.py
  tests/packs/eval/test_runner_comprehensive.py
  tests/packs/eval/test_topics_validation.py
  tests/packs/test_pack_validation_physics.py
  tests/packs/test_validator.py
  wikigr/packs/__init__.py
  wikigr/packs/eval/__init__.py
  wikigr/packs/eval/baselines.py
  wikigr/packs/eval/models.py
  wikigr/packs/eval/runner.py
Due: no-temporal-docs, banned-patterns

Fix web pack building + build all 5 packs (TDD)
  bootstrap/src/sources/web.py
  bootstrap/src/wikipedia/parser.py
  data/packs/azure-lighthouse/eval/questions.jsonl
  data/packs/azure-lighthouse/manifest.json
  data/packs/azure-lighthouse/urls.txt
  data/packs/fabric-graph-gql-expert/manifest.json
  data/packs/security-copilot/eval/questions.jsonl
  data/packs/security-copilot/manifest.json
  data/packs/security-copilot/urls.txt
  data/packs/sentinel-graph/eval/questions.jsonl
  data/packs/sentinel-graph/manifest.json
  data/packs/sentinel-graph/urls.txt
  scripts/build_fabric_direct.py
  scripts/build_pack_generic.py
  tests/packs/test_web_pack_building.py
Due: banned-patterns

Add Claude Code skill wrappers for all 5 packs
  data/packs/azure-lighthouse/kg_config.json
  data/packs/azure-lighthouse/manifest.json
  data/packs/azure-lighthouse/skill.md
  data/packs/fabric-graph-gql-expert/kg_config.json
  data/packs/fabric-graph-gql-expert/manifest.json
  data/packs/fabric-graph-gql-expert/skill.md
  data/packs/security-copilot/kg_config.json
  data/packs/security-copilot/manifest.json
  data/packs/security-copilot/skill.md
  data/packs/sentinel-graph/kg_config.json
  data/packs/sentinel-graph/manifest.json
  data/packs/sentinel-graph/skill.md
Due: no-temporal-docs

Update README to reflect Knowledge Packs platform
  README.md
Due: no-temporal-docs

Implement LLMSeedResearcher for automated source discovery (#145 WS4)
  docs/llm-seed-researcher.md
  tests/packs/test_seed_researcher.py
  wikigr/cli.py
  wikigr/packs/seed_researcher.py
Due: no-temporal-docs, banned-patterns

Implement Phase 1 Pack Enhancements from Issue #145
  data/few_shot/physics_examples.json
  scripts/run_opus_evaluation.py
  tests/packs/test_few_shot.py
  tests/packs/test_multi_doc_synthesis.py
  tests/packs/test_reranker.py
  wikigr/agent/few_shot.py
  wikigr/agent/kg_agent.py
  wikigr/agent/multi_doc_synthesis.py
  wikigr/agent/reranker.py
Due: banned-patterns

Revert "Implement Phase 1 Pack Enhancements from Issue #145"
  data/few_shot/physics_examples.json
  scripts/run_opus_evaluation.py
  tests/packs/test_few_shot.py
  tests/packs/test_multi_doc_synthesis.py
  tests/packs/test_reranker.py
  wikigr/agent/few_shot.py
  wikigr/agent/kg_agent.py
  wikigr/agent/multi_doc_synthesis.py
  wikigr/agent/reranker.py
Due: banned-patterns

Revert "Implement Phase 1 Pack Enhancements from Issue #145" (#147)
  data/few_shot/physics_examples.json
  scripts/run_opus_evaluation.py
  tests/packs/test_few_shot.py
  tests/packs/test_multi_doc_synthesis.py
  tests/packs/test_reranker.py
  wikigr/agent/few_shot.py
  wikigr/agent/kg_agent.py
  wikigr/agent/multi_doc_synthesis.py
  wikigr/agent/reranker.py
Due: banned-patterns

Implement Phase 1 Pack Enhancements (Issue #145 Workstream 1)
  STEP13_LOCAL_TESTING_RESULTS.md
  data/few_shot/physics_examples.json
  docs/concepts/phase1-enhancements-design.md
  docs/howto/phase1-enhancements.md
  docs/index.md
  docs/reference/module-docs/few-shot-manager.md
  docs/reference/module-docs/graph-reranker.md
  docs/reference/module-docs/multidoc-synthesizer.md
  docs/reference/phase1-enhancements.md
  manual_integration_test.py
  tests/packs/test_discovery.py
  tests/packs/test_distribution.py
  tests/packs/test_few_shot.py
  tests/packs/test_installer.py
  tests/packs/test_manifest.py
  tests/packs/test_models.py
  tests/packs/test_multi_doc_synthesis.py
  tests/packs/test_registry.py
  tests/packs/test_registry_api.py
  tests/packs/test_reranker.py
  tests/packs/test_skill_template.py
  tests/packs/test_validator.py
  tests/packs/test_versioning.py
  wikigr/agent/few_shot.py
  wikigr/agent/kg_agent.py
  wikigr/agent/multi_doc_synthesis.py
  wikigr/agent/reranker.py
Due: no-temporal-docs, banned-patterns

chore: remove temporary development artifacts
  STEP13_LOCAL_TESTING_RESULTS.md
  manual_integration_test.py
Due: no-temporal-docs, banned-patterns

fix: resolve Pack Tests CI failures
  tests/packs/eval/test_baselines.py
  tests/packs/test_discovery.py
  tests/packs/test_distribution.py
  tests/packs/test_installer.py
  tests/packs/test_manifest.py
  tests/packs/test_models.py
  tests/packs/test_registry.py
  tests/packs/test_registry_api.py
  tests/packs/test_skill_template.py
  tests/packs/test_validator.py
  tests/packs/test_versioning.py
  wikigr/__init__.py
  wikigr/packs/validator.py
Due: banned-patterns

style: fix ruff format spacing in llm_extractor.py
  bootstrap/src/extraction/llm_extractor.py
Due: banned-patterns

Add Rust Expert Knowledge Pack (#145 WS3)
  data/packs/rust-expert/README.md
  data/packs/rust-expert/eval/questions.jsonl
  data/packs/rust-expert/urls.txt
  scripts/build_rust_pack.py
Due: no-temporal-docs, banned-patterns

Add .NET Expert Knowledge Pack (Issue #145 Workstream 2)
  data/packs/dotnet-expert/BUILD.md
  data/packs/dotnet-expert/COMPLETION.md
  data/packs/dotnet-expert/README.md
  data/packs/dotnet-expert/eval/questions.jsonl
  data/packs/dotnet-expert/kg_config.json
  data/packs/dotnet-expert/skill.md
  data/packs/dotnet-expert/urls.txt
Due: no-temporal-docs

Add LLM Seed Researcher for automatic source discovery (Issue #149 WS4)
  docs/llm-seed-researcher.md
  pyproject.toml
  tests/packs/test_seed_researcher.py
  wikigr/cli.py
  wikigr/packs/seed_researcher.py
Due: no-temporal-docs, banned-patterns

Phase 1 Pack Enhancements: GraphReranker, MultiDocSynthesizer, FewShotManager (Issue #145 WS1) (#148)
  bootstrap/src/extraction/llm_extractor.py
  data/few_shot/physics_examples.json
  docs/concepts/phase1-enhancements-design.md
  docs/howto/phase1-enhancements.md
  docs/index.md
  docs/reference/module-docs/few-shot-manager.md
  docs/reference/module-docs/graph-reranker.md
  docs/reference/module-docs/multidoc-synthesizer.md
  docs/reference/phase1-enhancements.md
  tests/packs/eval/test_baselines.py
  tests/packs/test_few_shot.py
  tests/packs/test_multi_doc_synthesis.py
  tests/packs/test_reranker.py
  wikigr/__init__.py
  wikigr/agent/few_shot.py
  wikigr/agent/kg_agent.py
  wikigr/agent/multi_doc_synthesis.py
  wikigr/agent/reranker.py
  wikigr/packs/validator.py
Due: no-temporal-docs, banned-patterns

Add Rust Expert Knowledge Pack (#145 WS3) (#150)
  data/packs/rust-expert/README.md
  data/packs/rust-expert/eval/questions.jsonl
  data/packs/rust-expert/urls.txt
  scripts/build_rust_pack.py
Due: no-temporal-docs, banned-patterns

Add .NET Expert Knowledge Pack (Issue #145 Workstream 2) (#151)
  data/packs/dotnet-expert/BUILD.md
  data/packs/dotnet-expert/COMPLETION.md
  data/packs/dotnet-expert/README.md
  data/packs/dotnet-expert/eval/questions.jsonl
  data/packs/dotnet-expert/kg_config.json
  data/packs/dotnet-expert/skill.md
  data/packs/dotnet-expert/urls.txt
Due: no-temporal-docs

Add LLM Seed Researcher for automatic source discovery (Issue #149 WS4) (#152)
  docs/llm-seed-researcher.md
  pyproject.toml
  tests/packs/test_seed_researcher.py
  wikigr/cli.py
  wikigr/packs/seed_researcher.py
Due: no-temporal-docs, banned-patterns

Add evaluation comparison: baseline vs enhanced accuracy
  data/packs/physics-expert/eval/enhancement_comparison.json
  scripts/run_enhancement_evaluation.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add evaluation comparison: baseline vs enhanced accuracy (#153)
  data/packs/physics-expert/eval/enhancement_comparison.json
  scripts/run_enhancement_evaluation.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix critical evaluation bugs in KG Agent and reranker
  data/packs/physics-expert/eval/enhancement_comparison.json
  wikigr/agent/kg_agent.py
  wikigr/agent/reranker.py
Due: banned-patterns

Fix critical evaluation bugs in KG Agent and reranker (#154)
  data/packs/physics-expert/eval/enhancement_comparison.json
  wikigr/agent/kg_agent.py
  wikigr/agent/reranker.py
Due: banned-patterns

Phase 2: Improve retrieval quality with direct title matching
  data/packs/physics-expert/eval/enhancement_comparison.json
  scripts/run_all_packs_evaluation.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Phase 2: Improve retrieval quality with direct title matching (#155)
  data/packs/physics-expert/eval/enhancement_comparison.json
  scripts/run_all_packs_evaluation.py
  wikigr/agent/kg_agent.py
Due: banned-patterns

Fix pack build scripts: article.content and remove url field
  scripts/build_dotnet_pack.py
Due: banned-patterns
