Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

no-temporal-docs:
  name: No temporal documentation
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*) echo "Blocked temporal doc: $f"; exit 1;; esac; done'' --'
  language: system

no-root-test-scripts:
  name: No root-level test scripts
  entry: 'bash -c ''for f in "$@"; do case "$f" in test_*.py) echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done'' --'
  language: system

banned-patterns:
  name: Banned code patterns
  entry: bash .github/scripts/check-banned-patterns.sh
  language: system
  pass_filenames: false

no-env-files:
  name: No .env files
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done'' --'
  language: system

Fix README/index: replace fabricated MCP server with actual skill-based integration
  README.md
  docs/index.md
Due: no-temporal-docs

Fix all 55 documentation inaccuracies found in audit
  README.md
  docs/concepts/architecture.md
  docs/concepts/how-packs-work.md
  docs/concepts/retrieval-pipeline.md
  docs/evaluation/improving-accuracy.md
  docs/evaluation/methodology.md
  docs/evaluation/results.md
  docs/getting-started/overview.md
  docs/getting-started/quickstart.md
  docs/getting-started/tutorial.md
  docs/howto/build-a-pack.md
  docs/howto/configure-enhancements.md
  docs/index.md
  docs/reference/cli-commands.md
  docs/reference/kg-agent-api.md
  docs/reference/pack-manifest.md
  scripts/run_all_packs_evaluation.py
Due: no-temporal-docs, banned-patterns

Implement missing features and set Opus as judge model
  backend/api/v1/chat.py
  backend/models/chat.py
  docs/evaluation/improving-accuracy.md
  docs/evaluation/methodology.md
  docs/evaluation/results.md
  docs/getting-started/quickstart.md
  docs/howto/run-evaluations.md
  docs/reference/cli-commands.md
  scripts/eval_single_pack.py
  scripts/run_all_packs_evaluation.py
  scripts/validate_pack_urls.py
  wikigr/cli.py
Due: no-temporal-docs, banned-patterns

Rewrite README and landing page to focus on the pack-as-skill vision
  README.md
  docs/index.md
Due: no-temporal-docs

Full eval: 44 packs, 440 questions, Opus judge, latest code
  data/packs/all_packs_evaluation.json
Due: none

Fix all 7 quality audit issues (#249-#255)
  backend/api/v1/chat.py
  scripts/run_enhancement_evaluation.py
  tests/backend/test_chat_pack_field.py
  tests/cli/test_query_command.py
  wikigr/agent/kg_agent.py
  wikigr/agent/reranker.py
  wikigr/cli.py
  wikigr/packs/manifest.py
Due: banned-patterns

fix: add cross_encoder=None to _make_agent to prevent AttributeError in tests
  docs/reference/retrieval-enhancements.md
  docs/reference/test-infrastructure.md
  launcher.py
  pyproject.toml
  run.sh
  tests/agent/test_retrieval_enhancements.py
  uv.lock
  wikigr/agent/kg_agent.py
Due: no-temporal-docs, banned-patterns

Fix doc inaccuracies: pack name regex and PLAN_CACHE_MAX_SIZE annotation
  docs/reference/kg-agent-api.md
  docs/reference/pack-manifest.md
  launcher.py
  run.sh
  tests/docs/__init__.py
  tests/docs/test_doc_accuracy.py
Due: no-temporal-docs, banned-patterns

Apply ruff/ruff-format auto-fixes from pre-commit
  backend/api/v1/chat.py
  backend/models/chat.py
  data/packs/all_packs_evaluation.json
  launcher.py
  scripts/validate_pack_urls.py
  tests/backend/test_chat_pack_field.py
  tests/cli/test_query_command.py
  tests/docs/test_doc_accuracy.py
  wikigr/cli.py
Due: banned-patterns

Step 10c/11b: Performance optimizations, test cleanup, and doc update
  docs/index.md
  docs/reference/test-suite.md
  launcher.py
  run.sh
  tests/agent/test_kg_agent_core.py
  tests/agent/test_kg_agent_queries.py
  tests/agent/test_kg_agent_semantic.py
  tests/agent/test_validate_cypher.py
  wikigr/agent/kg_agent.py
Due: no-temporal-docs, banned-patterns

Add _validate_cypher staticmethod to fix test collection failure
  wikigr/agent/kg_agent.py
Due: banned-patterns

Add PACK_NAME_RE validation to cmd_query and validate_pack_urls
  docs/reference/cli-commands.md
  docs/reference/pack-manifest.md
  scripts/validate_pack_urls.py
  tests/cli/test_query_pack_name_validation.py
  tests/packs/test_pack_name_re_constant.py
  tests/scripts/test_validate_pack_urls_pack_flag.py
  wikigr/cli.py
  wikigr/packs/manifest.py
Due: no-temporal-docs, banned-patterns

Fix ruff-format and SIM117 issues flagged by pre-commit hooks
  backend/api/v1/chat.py
  backend/models/chat.py
  data/packs/all_packs_evaluation.json
  scripts/validate_pack_urls.py
  tests/backend/test_chat_pack_field.py
  tests/cli/test_query_command.py
  tests/scripts/test_validate_pack_urls_pack_flag.py
  wikigr/cli.py
Due: banned-patterns

chore: bump version to 0.3.0 for PACK_NAME_RE validation release
  pyproject.toml
Due: none

Step 12: Pre-commit validation — all hooks pass, 382 tests pass
  .pre-commit-config.yaml
  backend/api/v1/chat.py
  backend/models/chat.py
  bootstrap/src/database/loader.py
  bootstrap/src/expansion/orchestrator.py
  bootstrap/src/expansion/work_queue.py
  data/packs/all_packs_evaluation.json
  launcher.py
  scripts/validate_pack_urls.py
  tests/agent/test_cypher_rag.py
  tests/agent/test_kg_agent_queries.py
  tests/agent/test_retrieval_enhancements.py
  tests/backend/test_chat_pack_field.py
  tests/cli/test_query_command.py
  wikigr/cli.py
Due: banned-patterns

Step 16b: Fix test docstrings referencing removed _plan_query method
  pyproject.toml
  tests/agent/test_kg_agent_semantic.py
  uv.lock
Due: banned-patterns

Fix title_or_url keyword arg, sanitize error propagation, simplify batch parallel
  bootstrap/src/expansion/orchestrator.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/tests/test_orchestrator_process_one.py
  bootstrap/src/expansion/work_queue.py
  docs/reference/expansion-article-processor.md
Due: no-temporal-docs, banned-patterns

Add WikipediaAPIClient test coverage (retry, caching, batch fetch)
  bootstrap/src/wikipedia/tests/test_api_client.py
Due: banned-patterns

Address review feedback: security hardening and test gaps
  bootstrap/src/expansion/orchestrator.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/tests/test_orchestrator_process_one.py
  bootstrap/src/wikipedia/tests/test_api_client.py
Due: banned-patterns

Fix assert formatting for cross-version ruff compatibility
  bootstrap/src/expansion/tests/test_orchestrator_process_one.py
Due: banned-patterns

Fix 4 test timeouts: skip API-dependent tests, fix pack name in validation test
  tests/cli/test_pack_commands.py
  tests/cli/test_query_pack_name_validation.py
Due: banned-patterns

wip: checkpoint after implementation (steps 7-8)
  backend/api/v1/chat.py
  wikigr/packs/distribution.py
Due: banned-patterns

fix: replace _plan_query/_execute_query with agent.query in chat_stream, add tar filter
  backend/API.md
  backend/api/v1/chat.py
  backend/rate_limit.py
  backend/tests/test_chat_stream.py
  backend/tests/test_rate_limit.py
  docs/index.md
  docs/reference/chat-api.md
  docs/reference/pack-distribution.md
  launcher.py
  pyproject.toml
  run.sh
  tests/cli/test_pack_commands.py
  tests/cli/test_query_pack_name_validation.py
  tests/packs/test_distribution.py
  wikigr/packs/distribution.py
Due: no-temporal-docs, banned-patterns

chore: update uv.lock
  uv.lock
Due: none

fix: improve pack name validation error messages and test accuracy
  tests/packs/test_installer.py
  wikigr/packs/installer.py
  wikigr/packs/manifest.py
Due: banned-patterns

fix: address review feedback - narrow remaining broad except clauses
  tests/agent/test_cypher_rag.py
  tests/agent/test_exception_contracts.py
  tests/packs/test_seed_researcher.py
  wikigr/packs/seed_researcher.py
Due: banned-patterns

Add hive mind: trust-weighted retrieval, fact TTL/GC, gossip protocol
  tests/agent/hive_mind/__init__.py
  tests/agent/hive_mind/test_fact_lifecycle.py
  tests/agent/hive_mind/test_gossip.py
  tests/agent/hive_mind/test_reranker.py
  wikigr/agent/hive_mind/__init__.py
  wikigr/agent/hive_mind/fact_lifecycle.py
  wikigr/agent/hive_mind/gossip.py
  wikigr/agent/hive_mind/hive_graph.py
  wikigr/agent/hive_mind/reranker.py
Due: banned-patterns

fix: remove orchestration artifacts and fix missing deps (closes #246, #247)
  .gitignore
  launcher.py
  pyproject.toml
  run.sh
  workstreams.json
Due: banned-patterns

feat: add manifest.json files for 4 new knowledge packs
  data/packs/azure-lighthouse/manifest.json
  data/packs/fabric-graphql-expert/manifest.json
  data/packs/security-copilot/manifest.json
  data/packs/security-copilot/urls.txt
  data/packs/sentinel-graph/manifest.json
Due: none

fix: resolve ruff SIM117 and format violations for pre-commit compliance
  bootstrap/src/extraction/tests/test_llm_schema_validation.py
  bootstrap/src/sources/tests/test_web_resilience.py
  bootstrap/src/sources/web.py
  launcher.py
  scripts/build_azure_lighthouse_pack.py
  scripts/build_fabric_graphql_expert_pack.py
  scripts/build_security_copilot_pack.py
  scripts/build_sentinel_graph_pack.py
  tests/packs/test_new_pack_files.py
  tests/scripts/test_new_pack_build_scripts.py
Due: banned-patterns

feat: add 4 new knowledge packs with security hardening and tests
  bootstrap/src/extraction/llm_extractor.py
  bootstrap/src/extraction/tests/__init__.py
  bootstrap/src/extraction/tests/test_llm_schema_validation.py
  bootstrap/src/sources/tests/test_web_resilience.py
  bootstrap/src/sources/web.py
  data/packs/azure-lighthouse/BUILD.md
  data/packs/azure-lighthouse/README.md
  data/packs/azure-lighthouse/skill.md
  data/packs/azure-lighthouse/urls.txt
  data/packs/dotnet-expert/skill.md
  data/packs/fabric-graphql-expert/BUILD.md
  data/packs/fabric-graphql-expert/README.md
  data/packs/fabric-graphql-expert/skill.md
  data/packs/security-copilot/BUILD.md
  data/packs/security-copilot/README.md
  data/packs/security-copilot/skill.md
  data/packs/security-copilot/urls.txt
  data/packs/sentinel-graph/BUILD.md
  data/packs/sentinel-graph/README.md
  data/packs/sentinel-graph/skill.md
  data/packs/sentinel-graph/urls.txt
  scripts/build_azure_lighthouse_pack.py
  scripts/build_fabric_graphql_expert_pack.py
  scripts/build_security_copilot_pack.py
  scripts/build_sentinel_graph_pack.py
  tests/packs/test_new_pack_files.py
  tests/scripts/test_new_pack_build_scripts.py
Due: no-temporal-docs, banned-patterns

style: fix ruff formatting and B017 lint error introduced by 605fa5a
  scripts/check_pack_freshness.py
  scripts/eval_single_pack.py
  scripts/validate_pack_urls.py
  tests/agent/test_exception_contracts.py
  tests/docs/test_doc_accuracy.py
  tests/docs/test_repository_hygiene_doc.py
  tests/packs/eval/test_issue211_eval_questions.py
  tests/scripts/test_load_urls_utils.py
  wikigr/agent/cross_encoder.py
  wikigr/packs/examples/create_physics_pack_with_skill.py
  wikigr/packs/seed_researcher.py
Due: banned-patterns

fix: harden API error responses and add repository hygiene docs/tests
  backend/api/v1/chat.py
  backend/api/v1/hybrid.py
  docs/howto/repository-hygiene.md
  docs/index.md
  tests/docs/test_repository_hygiene_doc.py
  tests/test_repository_hygiene.py
Due: no-temporal-docs, banned-patterns

Path conditions:
  no-temporal-docs: any of: \.(md|markdown|mdown)$
  no-root-test-scripts: any of: ^test_.*\.py$
  banned-patterns: any of: \.py$
  no-env-files: any of: \.env
