Repository rysweet/agent-kgpacks: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-temporal-docs, no-root-test-scripts, banned-patterns, no-env-files

no-temporal-docs:
  name: No temporal documentation
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in PROGRESS_*|FINAL_*|*COMPLETE*|*_REPORT.md|*_SUMMARY.md|RELEASE_NOTES_*) echo "Blocked temporal doc: $f"; exit 1;; esac; done'' --'
  language: system

no-root-test-scripts:
  name: No root-level test scripts
  entry: 'bash -c ''for f in "$@"; do case "$f" in test_*.py) echo "Blocked: $f (use bootstrap/tests/)"; exit 1;; esac; done'' --'
  language: system

banned-patterns:
  name: Banned code patterns
  entry: bash .github/scripts/check-banned-patterns.sh
  language: system
  pass_filenames: false

no-env-files:
  name: No .env files
  entry: 'bash -c ''for f in "$@"; do case "$(basename "$f")" in .env|.env.*) echo "Blocked: $f"; exit 1;; esac; done'' --'
  language: system

style: apply ruff-format to repository hygiene test files
  tests/docs/test_repository_hygiene_doc.py
  tests/test_repository_hygiene.py
Due: banned-patterns

fix: remove amplihack orchestration artifacts (fixes #246, #247)
  .gitignore
  launcher.py
  run.sh
  workstreams.json
Due: banned-patterns

fix: prevent exception class name disclosure in SSE error events (SEC-INFO-DISCLOSURE)
  backend/api/v1/chat.py
  backend/db/__init__.py
  backend/db/connection.py
  backend/tests/test_chat_stream.py
  pyproject.toml
  uv.lock
Due: banned-patterns

style: fix ruff formatting drift from new pack files (post-rebase cleanup)
  bootstrap/src/sources/tests/test_web_resilience.py
  tests/packs/test_new_pack_files.py
  tests/scripts/test_new_pack_build_scripts.py
Due: banned-patterns

fix: move SEC-06 DB_PATH guard comment to own line for ruff compliance
  scripts/build_azure_lighthouse_pack.py
  scripts/build_fabric_graphql_expert_pack.py
  scripts/build_security_copilot_pack.py
  scripts/build_sentinel_graph_pack.py
Due: banned-patterns

chore: bump version to 0.4.0 for 4 new knowledge packs release
  pyproject.toml
  uv.lock
Due: none

fix: add domain prompts, empty-content guard, and build hardening for 4 new packs
  bootstrap/src/extraction/llm_extractor.py
  bootstrap/src/sources/web.py
  data/packs/azure-lighthouse/urls.txt
  data/packs/security-copilot/urls.txt
  data/packs/sentinel-graph/urls.txt
  scripts/build_azure_lighthouse_pack.py
  scripts/build_fabric_graphql_expert_pack.py
  scripts/build_go_pack.py
  scripts/build_security_copilot_pack.py
  scripts/build_sentinel_graph_pack.py
Due: banned-patterns

fix: apply ruff format and fix B017 blind exception in test_load_urls_utils
  bootstrap/src/sources/tests/test_web_resilience.py
  scripts/check_pack_freshness.py
  scripts/eval_single_pack.py
  scripts/validate_pack_urls.py
  tests/agent/test_exception_contracts.py
  tests/docs/test_doc_accuracy.py
  tests/packs/eval/test_issue211_eval_questions.py
  tests/packs/test_new_pack_files.py
  tests/scripts/test_load_urls_utils.py
  tests/scripts/test_new_pack_build_scripts.py
  wikigr/agent/cross_encoder.py
  wikigr/packs/examples/create_physics_pack_with_skill.py
  wikigr/packs/seed_researcher.py
Due: banned-patterns

fix: restore azure-lighthouse URL count to >=50 for test_urls_minimum_count
  data/packs/azure-lighthouse/urls.txt
Due: none

fix: resolve 22 test failures in 4 new pack build scripts
  data/packs/azure-lighthouse/manifest.json
  data/packs/fabric-graphql-expert/manifest.json
  data/packs/security-copilot/manifest.json
  data/packs/sentinel-graph/manifest.json
  docs/design/exception-handling.md
  docs/howto/build-a-pack.md
  docs/howto/handle-exceptions.md
  docs/knowledge_packs/azure-security-packs.md
  docs/reference/pack-utils.md
  docs/reference/urls-txt-format.md
  pyproject.toml
  scripts/build_azure_lighthouse_pack.py
  scripts/build_fabric_graphql_expert_pack.py
  scripts/build_security_copilot_pack.py
  scripts/build_sentinel_graph_pack.py
  scripts/eval_single_pack.py
  tests/scripts/test_load_urls_utils.py
  tests/scripts/test_new_pack_build_scripts.py
  uv.lock
  wikigr/packs/utils.py
Due: no-temporal-docs, banned-patterns

fix: address blocking security issues from PR #282 review
  scripts/build_azure_lighthouse_pack.py
  scripts/build_fabric_graphql_expert_pack.py
  scripts/build_security_copilot_pack.py
  scripts/build_sentinel_graph_pack.py
  tests/scripts/test_new_pack_build_scripts.py
Due: banned-patterns

fix: apply pattern compliance fixes to eval_single_pack.py
  scripts/eval_single_pack.py
Due: banned-patterns

fix: apply ruff-format to fix pre-commit formatting checks
  scripts/eval_single_pack.py
  tests/scripts/test_load_urls_utils.py
  tests/scripts/test_new_pack_build_scripts.py
Due: banned-patterns

fix: reformat test files with ruff 0.8.4 matching pre-commit config
  tests/scripts/test_load_urls_utils.py
  tests/scripts/test_new_pack_build_scripts.py
Due: banned-patterns

feat: add ladybugdb-expert knowledge pack with skill.md
  data/packs/ladybugdb-expert/skill.md
Due: no-temporal-docs

feat: add skill delivery evaluation harness (A/B/C experiment)
  data/packs/anthropic-api-expert/eval/tasks.jsonl
  data/packs/ladybugdb-expert/eval/skill_delivery_results.json
  data/packs/ladybugdb-expert/eval/tasks.jsonl
  data/packs/rust-expert/eval/tasks.jsonl
  scripts/eval_skill_delivery.py
  wikigr/packs/eval/skill_evaluators.py
  wikigr/packs/eval/skill_models.py
  wikigr/packs/eval/skill_validators.py
Due: banned-patterns

data: add skill delivery eval results for 3 pilot packs
  data/packs/anthropic-api-expert/eval/skill_delivery_results.json
  data/packs/ladybugdb-expert/eval/skill_delivery_results.json
  data/packs/rust-expert/eval/skill_delivery_results.json
Due: none

feat: add script to generate and install per-pack Claude Code skills
  scripts/install_pack_skills.py
Due: banned-patterns

feat: add /kg-pack skill — knowledge pack manager for any Claude Code project
  skills/README.md
  skills/kg-pack/SKILL.md
Due: no-temporal-docs

docs: add /kg-pack Claude Code integration section to README
  README.md
Due: no-temporal-docs

test: add 28 outside-in e2e tests for pack system
  scripts/build_physics_pack.py
  tests/outside_in/__init__.py
  tests/outside_in/test_pack_system_e2e.py
Due: banned-patterns

fix: resolve ruff lint and formatting errors for CI
  data/packs/ladybugdb-expert/eval/skill_delivery_results.json
  data/packs/ladybugdb-expert/manifest.json
  fix-new-scripts-workstreams.json
  next-steps-workstreams.json
  round1-workstreams.json
  round2-workstreams.json
  round3-workstreams.json
  round4-workstreams.json
  round5-workstreams.json
  scripts/eval_skill_delivery.py
  scripts/install_pack_skills.py
  scripts/rebuild_all_packs.py
  tests/outside_in/test_pack_system_e2e.py
  wikigr/packs/eval/skill_evaluators.py
  wikigr/packs/eval/skill_validators.py
Due: banned-patterns

chore: remove accidental workstream JSON files
  fix-new-scripts-workstreams.json
  next-steps-workstreams.json
  round1-workstreams.json
  round2-workstreams.json
  round3-workstreams.json
  round4-workstreams.json
  round5-workstreams.json
Due: none

fix: resolve all ruff SIM105 and I001 lint errors
  backend/db/connection.py
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/database/loader.py
  bootstrap/src/expansion/orchestrator.py
  bootstrap/src/expansion/processor.py
  bootstrap/src/expansion/tests/test_link_discovery.py
  bootstrap/src/query/search.py
  data/packs/ladybugdb-expert/manifest.json
  wikigr/agent/kg_agent.py
  wikigr/cli.py
Due: banned-patterns

fix: add trailing newlines for pre-commit end-of-file check
  data/packs/all_packs_evaluation.json
  data/packs/ladybugdb-expert/skill.md
Due: no-temporal-docs

fix: drop Python 3.10/3.11 from CI, skip test_pack_db_exists when unbuilt
  .github/workflows/ci.yml
  tests/packs/test_new_pack_files.py
Due: banned-patterns

docs: update quickstart and tutorial with skill workflow, fix Python 3.12+
  docs/concepts/architecture.md
  docs/getting-started/quickstart.md
  docs/getting-started/tutorial.md
  docs/howto/build-a-pack.md
Due: no-temporal-docs

sec: fix info disclosure in API error responses (#277, #278, #279)
  backend/api/v1/articles.py
  backend/api/v1/chat.py
  backend/api/v1/hybrid.py
  backend/api/v1/search.py
  backend/tests/test_chat_stream.py
Due: banned-patterns

docs: update evaluation results with LadybugDB 0.15.1 data (#201)
  docs/evaluation/results.md
Due: no-temporal-docs

refactor: decompose kg_agent.py god-class into retriever + synthesizer (#173)
  wikigr/agent/kg_agent.py
  wikigr/agent/retriever.py
  wikigr/agent/synthesizer.py
Due: banned-patterns

fix: quality audit remediation — graph.py leak, deduplicate load_extensions
  backend/api/v1/graph.py
  backend/api/v1/hybrid.py
  backend/db/connection.py
  bootstrap/schema/ryugraph_schema.py
  bootstrap/src/database/loader.py
  bootstrap/src/expansion/orchestrator.py
  wikigr/agent/kg_agent.py
  wikigr/cli.py
Due: banned-patterns

test: add 128 unit tests for retriever, synthesizer, and scripts
  pyproject.toml
  tests/agent/test_retriever.py
  tests/agent/test_synthesizer.py
  tests/scripts/test_eval_skill_delivery.py
  tests/scripts/test_install_pack_skills.py
  tests/scripts/test_rebuild_all_packs.py
Due: banned-patterns

fix: address review feedback from workflow Step 16 (#293)
  pyproject.toml
  tests/agent/test_retriever.py
  tests/scripts/test_build_pack_exception_narrowing.py
  tests/scripts/test_eval_skill_delivery.py
  tests/scripts/test_new_pack_build_scripts.py
  tests/scripts/test_rebuild_all_packs.py
Due: banned-patterns

fix: address all two-layer code review findings (#295)
  backend/api/v1/chat.py
  backend/api/v1/hybrid.py
  backend/db/__init__.py
  backend/db/connection.py
  backend/services/article_service.py
  backend/services/search_service.py
  bootstrap/src/database/loader.py
  bootstrap/src/extraction/llm_extractor.py
  bootstrap/src/query/search.py
  data/packs/ladybugdb-expert/manifest.json
  scripts/build_anthropic_api_expert_pack.py
  tests/packs/test_registry_api.py
  wikigr/agent/kg_agent.py
  wikigr/packs/eval/runner.py
  wikigr/packs/registry_api.py
Due: banned-patterns

fix: round 3 review findings — sanitize_error, config drift, testpaths, thread safety
  backend/__init__.py
  backend/db/connection.py
  backend/main.py
  bootstrap/src/__init__.py
  bootstrap/src/config.py
  bootstrap/src/database/loader.py
  bootstrap/src/query/search.py
  config.yaml
  data/packs/ladybugdb-expert/manifest.json
  docs/getting-started/quickstart.md
  pyproject.toml
  requirements.txt
  scripts/build_pack_from_issue.py
  scripts/check_pack_freshness.py
  scripts/rebuild_all_packs.py
  scripts/validate_pack_urls.py
  wikigr/__init__.py
  wikigr/packs/edge_generator.py
  wikigr/utils.py
Due: no-temporal-docs, banned-patterns

feat: UX overhaul — MCP server, pack catalog, install script, publish script (#298)
  README.md
  data/packs/ladybugdb-expert/manifest.json
  docs/catalog.md
  docs/getting-started/quickstart.md
  mcp_server.py
  pyproject.toml
  scripts/generate_catalog.py
  scripts/install.sh
  scripts/install_pack_skills.py
  scripts/publish_packs.py
  uv.lock
Due: no-temporal-docs, banned-patterns

Path conditions:
  no-temporal-docs: any of: \.(md|markdown|mdown)$
  no-root-test-scripts: any of: ^test_.*\.py$
  banned-patterns: any of: \.py$
  no-env-files: any of: \.env
